
[Unit]
Description=Create first Apollo RabbitMQ administrative user
After=docker.socket etcd-member.service rabbitmq.service
Requires=docker.socket etcd-member.service rabbitmq.service

[Service]
ExecStartPre=/bin/sleep 60
ExecStartPre=/usr/bin/docker exec \
    --interactive \
    --tty         \
    rabbitmq      \
    bash -c "rabbitmqctl add_user apollo p455w0rd"

ExecStartPre=/usr/bin/docker exec \
    --interactive \
    --tty         \
    rabbitmq      \
    bash -c "rabbitmqctl set_user_tags apollo administrator"

ExecStart=/usr/bin/docker exec \
    --interactive \
    --tty         \
    rabbitmq      \
    bash -c 'rabbitmqctl set_permissions -p / apollo ".*" ".*" ".*"'

[Install]
WantedBy=multi-user.target
