[Unit]
Description=RabbitMQ Node with ETCD Peer Discovery
After=network-online.target docker.socket etcd-member.service
Wants=network-online.target coreos-metadata.service
Requires=docker.socket etcd-member.service coreos-metadata.service

[Service]
EnvironmentFile=/run/metadata/coreos
ExecStartPre=/usr/bin/docker pull devops4me/rabbitmq-3.7
ExecStart=/usr/bin/docker run --detach --name rabbitmq --network host --env RABBITMQ_ERLANG_COOKIE="ABCDEFGHIJK" devops4me/rabbitmq-3.7
